@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Spartan:wght@800&display=swap');

body {
  color: $color-grey-dark;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Spartan', sans-serif;
}
