.contact-form-container {
  background-color: $color-grey;
  padding: 6rem 12.5vw;

  & .contact-form-container_row {
    & .contact-form-container_col {
      padding: 0 1rem;

      & h3 {
        color: $color-primary;
        font-size: 4rem;
        line-height: 1;
      }

      & input {
        margin-bottom: 1rem;

        &::placeholder {
          color: $color-grey-light;
        }
      }

      & textarea {
        margin-bottom: 1rem;

        &::placeholder {
          color: $color-grey-light;
        }
      }

      & button {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-grey-dark;
        transition: all 300ms;

        &:hover {
          background-color: $color-primary-light;
        }
      }
    }
  }
}
