// Colors
$color-primary: #1e666d;
$color-primary-dark: #254e52;
$color-primary-light: #53aeb6;
$color-primary-super-dark: #0a4247;
$color-primary-super-light: #6db0b6;

$color-secondary: #f62b00;
$color-secondary-dark: #b9462e;
$color-secondary-light: #fb5f3f;
$color-secondary-super-dark: #a01c00;
$color-secondary-super-light: #fb8971;

$color-grey: #434343;
$color-grey-dark: #030303;
$color-grey-light: #b3b3b3;
$color-grey-super-light: #f3f3f3;

$color-white: #fff;
$color-black: #000;

// Font settings
$default-font-size: 1.6rem;

// Grid settings
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Sizes
$header-height: 33vh;
$footer-height: 20vh;
