.container-blog {
  padding: 3rem 50px;

  & .label-category {
    cursor: pointer;
  }

  & .container-blog_header {
    & .container-blog_search {
      text-align: right;

      & input {
        &::placeholder {
          text-align: left;
        }
      }
    }
  }

  & .container-blog__articles {
    min-height: 52vh;

    & .container-blog__article {
      padding: 2rem 4rem;
    }
  }
}
