.home-container {
  position: relative;

  & .home_projects {
    background-color: $color-primary;
  }

  & .home-container_squares {
    background-image: linear-gradient(
        to left top,
        rgba($color-primary, 0.95),
        rgba($color-secondary, 0.95)
      ),
      url(https://res.cloudinary.com/wedwedweddings/image/upload/v1598890883/wedwedweddings.com/images/bg_yv8vld.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 2.5rem rgba($color-black, 0.75);
    padding: 6rem 12.5vw;
  }
}
