#main-footer {
  background-color: $color-grey-dark;
  color: $color-grey-light;
  padding: 3rem 0 0 0;
  width: 100vw;

  & .footer-container {
    & .footer-container_row {
      & .footer-container_col {
        padding: 0 1rem 2rem 1rem;
      }
    }
  }

  @include respond(phone) {
    height: 16vh;
  }
}
