.logo-img {
  &.small {
    width: 25%;
  }

  &.medium {
    width: 50%;
  }

  &.large {
    width: 75%;
  }

  @include respond(tab-port) {
    width: 85%;
  }

  @include respond(phone) {
    width: 100%;
  }
}
