.home-sobre-nosotros-container {
  padding: 6rem 12.5vw;

  & h3 {
    color: $color-secondary;
    font-size: 2.2rem;
    margin: 0 auto 2rem auto;
    text-align: center;
  }

  & .home-sobre-nosotros_row {
    & .home-sobre-nosotros_col {
      & img {
        height: auto;
        width: 100%;
      }

      & p {
        color: $color-grey;
        font-size: 1.6rem;
        text-align: justify;

        &.text-quote {
          font-style: italic;
          font-size: 1.8rem;
          text-align: center;

          &::before {
            content: '\201C';
          }

          &::after {
            content: '\201D';
          }
        }

        & span {
          color: $color-secondary;
        }
      }
    }
  }
}
