.footer-services-container {
  & .footer-services_title {
    color: $color-primary-super-light;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  & .footer-services_list {
    list-style: none;
  }
}
