.square-container {
  background-color: transparent;
  border: 2px solid $color-white;
  border-radius: 6rem;
  cursor: pointer;
  height: 100%;
  transition: all 300ms;
  width: 100%;

  &:hover {
    background-color: $color-white;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.95);

    & .square-container_texts {
      & h2 {
        color: $color-secondary;
      }
    }
  }

  & .square-container_texts {
    @include absCenter;

    & h2 {
      color: $color-white;
      font-size: 1.6rem;
      margin: 0;
      transition: all 300ms;
    }
  }
}
